/* General layout and styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  color: black;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1rem;
}

footer {
  background-color: grey;
  width: 100%;
  margin-top: 1rem;
  padding: 2rem;
}

#github-link-span {
  display: block;
  width: max-content;
  margin: 0 auto;
}

#github-link-span a {
  text-decoration: none;
  color: white;
}

#page-links {
  gap: 8rem;
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
}

.page-link-button {
}

/* Homepage layout */

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

#hero .left {
  width: 70%;
  max-width: 30rem;
}

#best-dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  padding: 1rem;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  grid-auto-rows: auto;
  min-width: 80%;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.card hr {
  width: 50%;
}
